<div class="w-full bg-base-color p-6 rounded-lg mb-2">
    <p class="mb-8">Olá, eu gostaria de saber como criar um componente funcional dentro do React e se existe diferença na perfomance entre um componente com classes.</p>
    <div class="flex justify-between items-center">
        <div class="flex items-center">
            <div class="w-8 h-8 rounded-full bg-primary mr-2 flex justify-center items-center">
                <img src="./assets/user.svg" alt="">
            </div>
            <span class="text-grey-dark">Rachel Laguna Martins</span>
        </div>
        <div class="flex gap-4">
            <img class="cursor-pointer" src="./assets/checkmark-circle-1.svg" alt="">
            <img class="cursor-pointer" src="./assets/Messages-Chat.svg" alt="">
            <img class="cursor-pointer" src="./assets/Excluir.svg" alt="">
        </div>
    </div>
</div>
