<div class="w-full p-6 rounded-lg mb-2"
        [ngClass]="{
            'bg-base-color': status == 'nova',
            'bg-primary bg-opacity-20 border border-primary': status == 'respondendo',
            'bg-grey-light': status == 'respondido',
            '': status == 'nova',
        }">
    <p class="mb-8">Olá, eu gostaria de saber como criar um componente funcional dentro do React e se existe diferença na perfomance entre um componente com classes.</p>
    <div class="flex justify-between items-center">
        <div class="flex items-center">
            <div class="w-8 h-8 rounded-full  mr-2 flex justify-center items-center"
            [ngClass]="{
                'bg-primary': status == 'nova' || status == 'respondendo',
                'bg-grey-medium': status == 'respondido'
            }">
                <img src="./assets/user.svg" alt="">
            </div>
            <span class="text-grey-dark">Rachel Laguna Martins</span>
        </div>
        <!-- Usado quando usario é dono da sala -->
        <!-- <div class="flex gap-4">
            <svg class="cursor-pointer hover:stroke-primary" 
            [ngClass]="{
                'stroke-primary-hover': status == 'respondido',
                'stroke-grey-dark': status == 'nova' || status == 'respondendo' || status == 'nova'
            }" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" (click)="status = 'respondido'">
                <circle cx="12.0001" cy="12" r="9.00375" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M8.44263 12.3392L10.6105 14.5071L10.5965 14.4931L15.4876 9.60205" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <svg class="cursor-pointer hover:stroke-primary"
            [ngClass]="{
                'stroke-primary-hover': status == 'respondendo',
                'stroke-grey-dark': status == 'nova' || status == 'respondido' || status == 'nova'
            }"
             width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" (click)="status = 'respondendo'">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 18H18C19.657 18 21 16.657 21 15V7C21 5.343 19.657 4 18 4H6C4.343 4 3 5.343 3 7V15C3 16.657 4.343 18 6 18H7.5V21L12 18Z"  stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <svg class="cursor-pointer stroke-grey-dark hover:stroke-danger" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" (click)="status = 'nova'">
                <path d="M3 6H5H21" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M8 6V4C8 3.46957 8.21071 2.96086 8.58579 2.58579C8.96086 2.21071 9.46957 2 10 2H14C14.5304 2 15.0391 2.21071 15.4142 2.58579C15.7893 2.96086 16 3.46957 16 4V6M19 6V20C19 20.5304 18.7893 21.0391 18.4142 21.4142C18.0391 21.7893 17.5304 22 17 22H7C6.46957 22 5.96086 21.7893 5.58579 21.4142C5.21071 21.0391 5 20.5304 5 20V6H19Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div> -->
        <div class="flex items-center justify-center gap-2">
            <span class="text-grey-dark poppins mt-1">3</span>
            <svg class="stroke-grey-dark" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="thumbs-up 1">
                <path id="Vector" d="M7 22H4C3.46957 22 2.96086 21.7893 2.58579 21.4142C2.21071 21.0391 2 20.5304 2 20V13C2 12.4696 2.21071 11.9609 2.58579 11.5858C2.96086 11.2107 3.46957 11 4 11H7M14 9V5C14 4.20435 13.6839 3.44129 13.1213 2.87868C12.5587 2.31607 11.7956 2 11 2L7 11V22H18.28C18.7623 22.0055 19.2304 21.8364 19.5979 21.524C19.9654 21.2116 20.2077 20.7769 20.28 20.3L21.66 11.3C21.7035 11.0134 21.6842 10.7207 21.6033 10.4423C21.5225 10.1638 21.3821 9.90629 21.1919 9.68751C21.0016 9.46873 20.7661 9.29393 20.5016 9.17522C20.2371 9.0565 19.9499 8.99672 19.66 9H14Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
            </svg>
        </div>
    </div>
</div>
