@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }

body { 
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.poppins{
    font-family: 'Poppins', sans-serif;
}