@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { 
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.poppins{
    font-family: 'Poppins', sans-serif;
}

.panel mat-dialog-content::-webkit-scrollbar-thumb{
    @apply bg-violet-500 rounded-lg bg-opacity-60;
}

.panel mat-dialog-content::-webkit-scrollbar{
    width: 5px;
    
}

.mat-mdc-snack-bar-container {
    &.blue-snackbar {
      --mdc-snackbar-container-color: #6F4BD8;
      --mat-mdc-snack-bar-button-color: #FFF;
      --mdc-snackbar-supporting-text-color: #FFF;
    }
    &.red-snackbar {
        --mdc-snackbar-container-color: #E73F5D;
        --mat-mdc-snack-bar-button-color: #FFF;
        --mdc-snackbar-supporting-text-color: #FFF;
    }
}

